---
---

@import "{{ site.theme }}";

body {
    font-size: 16px;
}

.inner {
    width: 90%; // 940px;
}

#main-content {
    width: 80%; // 690px;
}

code, pre {
    font-family: "Fira Code", Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 15px;
    background-color: #f2f8fc;
    background: #f2f8fc;
}
