---
---

@import "{{ site.theme }}";

body {
    font-size: 16px;
}

header h1, header h2 {
    width: 80%; // 540px;
}

.inner {
    width: 90%; // 940px;
}

#main-content {
    width: 85%; // 690px;
}

code, pre {
    font-family: "Fira Code", Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 15px;
}

pre code {
    background-color: #f8f8f8;
    background: #f8f8f8;
}
